
.navbar {
  /*@apply items-center justify-between p-20 bg-teal-400 text-white*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
}

.navLinks a {
  list-style-type: none;
  color: #fff;
}

.logo {
  font-size: 32px;
}

.menuItems {
  @apply hover:bg-purple-600
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}
